.grid
  .scrollable
    overflow-y: hidden;
  &-row
    display flex
    & ^[0]-cell
      border-bottom: 1px solid #dce4ec
    &:hover ^[0]-cell
      background-color: #ecf0f1
    &:hover ^[0]-cell-actions-toggle
      display: inline-block
  &-sorter
    display flex
    text-align: center
    font-weight: bold
    cursor: pointer
    & ^[0]-cell
      border-bottom: 1px solid #dce4ec
  &-cell
    flex: 1
    padding: 2px 5px
    overflow: visible
    text-overflow: ellipsis
    white-space: normal
    &.xs
      flex 0.2
      min-width 30px
    &.s
      flex 0.5
      min-width 80px
    &.m
      min-width 100px
    &.l
      flex 1.5
      min-width 120px
    &.xl
      flex 2
      min-width:150px
    &.tac
      text-align: center
    &.tar
      text-align: right
    &.compact
      overflow: hidden
      white-space nowrap
    img
      border-radius: 2px
    &-undo
      display: flex
      flex: 1
      justify-content: flex-end
      padding: 4px 5px
      border-bottom: 1px solid #dce4ec
    &-actions
      text-align: center
      line-height: 2
      font-size: 16px
      width: 32px
      flex: none
      &-toggle
        display none
        &-active
          diaplay: inline-block
  &-search
    display: flex
  &-spinner
    flex: 1
    text-align: center
  .no-fields-selected
    color: red