body
  margin: 0
  padding: 0
  font-family sans-serif
  color: #000

a, a:visited, a:hover
  text-decoration: none
  color: #fff

.header
  background-color: #00aeef
.navbar
  display: inline-block
  div
    display: inline-block
    a
      display: block
      padding: 10px 15px

.corp-select
  display: inline-block
  margin-left: 40px

.login-info
  display: inline-block
  float: right
  color: #fff
  padding: 8px 12px

.grid-cell
  display: inline-block