.notifications-container
  position: absolute
  left: calc(50% - 150px)
  width: 300px
  top: 20px

  .notification
    text-align: center
    font-size: 18px
    border-radius 2px
    color: #fff
    margin-bottom: 10px
    padding: 5px
    cursor: pointer
    &.info
      background-color: #2f718b
  .alert
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6)

  .notification-enter
    opacity: 0.01;

  .notification-enter.notification-enter-active
    opacity: 1;
    transition: opacity 300ms ease-in;

  .notification-leave
    opacity: 1;

  .notification-leave.notification-leave-active
    opacity: 0.01;
    transition: opacity 200ms ease-in;
