<template name="navbar">
    <li class="navbar">
        <ul><a href="/">Arun</a></ul>
        <ul><a href="/pilots">Pilots</a></ul>
        <ul><a href="/corps">Corps</a></ul>
        <ul><a href="/kills">Kills</a></ul>
        <ul><a href="/income">Income</a></ul>
    </li>
    <div class="login-info">
        {{#if currentUser}}
            {{currentUser.profile.name}}
            <button class="logoff">logoff</button>
        {{else}}
            <button class="login">login</button>
        {{/if}}
    </div>
</template>