@import '../../styles/style.styl'

.collection
  &-element
    display: inline-block
    padding: 1px 5px
    border-radius: 4px
    font-size: 13px
    line-height: 1.5
    margin-right: 4px
    margin-bottom: 4px
    &:hover .collection-remove-element
      opacity: 1
    &:hover .collection-add-element
      opacity: 1
  &-add-element
    opacity 0.4
    color: green
  &-remove-element
    opacity 0.25
    color: red
    margin-left: 4px

.rc-dropdown-menu-item
  cursor: pointer